<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Ecommerce Application</title>

   <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Brand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>
        
        <form class="form-inline">
          <label class="sr-only" for="inlineFormInputEmail">Email</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputEmail" placeholder="Email">
        
          <label class="sr-only" for="inlineFormInputPassword">Password</label>
          
            <input type="text" class="form-control mb-2 mr-sm-2"" id="inlineFormInputPassword" placeholder="Password">
          
          <button type="submit" class="btn btn-primary mb-2">SignIn</button>
        </form>

      </div>
    </nav>

    
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Shop Now Save Time</h1>
          <p>This is a template for a simple ecommerce application. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Buy Now &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Service</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem non quibusdam nam facilis vitae velit rerum ipsa unde iusto perspiciatis?</p>
            <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum libero voluptates debitis nihil eum praesentium cum similique aperiam beatae commodi?</p>
            <p><a class="btn btn-secondary" href="#" role="button">Buy Now &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum eveniet eligendi amet voluptatem veritatis voluptate magnam pariatur nisi veniam!</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; code-mridul 2018</p>
    </footer>

  </body>
</html>
