<% layout('layout') -%>


      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4"> Shop Now Save Time </h1>
          <p>This is a template for a simple ecommerce application. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
        </div>
      </div>
      

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Service</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem non quibusdam nam facilis vitae velit rerum ipsa unde iusto perspiciatis?</p>
            <p><a class="btn btn-secondary" href="#" role="button">View Details &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Product</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum libero voluptates debitis nihil eum praesentium cum similique aperiam beatae commodi?</p>
            <p><a class="btn btn-secondary" href="#" role="button">Buy Now &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum eveniet eligendi amet voluptatem veritatis voluptate magnam pariatur nisi veniam!</p>
            <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
          </div>
        </div>
    </div>